{% extends "base.html" %}

{% block title %} Home page {% endblock %}

{% block content %}

{% if user_name %}
username: {{ user_name }}
{% endif %}

{% if profiles %}
<form action='/genomes/' >
  <select name="profile_id" title="Profiles:" >
    {% for p in profiles %}
    <option value="{{p}}">{{p}}</option>
    {% endfor %} 
  </select>
 <input type="submit" value="Send" /> 
</form>
{% endif %}

<br/>
<br/>
<a href="/names/">Get names</a>
<br/>
<br/>
<a href="/user/">Get user</a>
<br/>
<br/>
<a href="/genome/">Get Genome</a>
<br/>
<br/>
<a href="/neanderthal/">Get Neanderthal</a>

{% endblock %} 
